// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap&subset=latin-ext');


// Theme

$color-text: midnightblue;
$color-text-light: ghostwhite;
$color-bg: ghostwhite;
$color-bg-dark: midnightblue;
$color-separator: lightskyblue;
$color-active: royalblue;
$color-cta: orangered;

$shadow: 0px 1px 3px -1px $color-separator;


// Global

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  position: relative;
  height: 100vh;
  font-size: calc(0.6em + 0.2vw);
  font-family: 'Roboto Mono', monospace;
}

.appContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  height: 100vh;
}

.navigationContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-flex: .1;
          flex: .1;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  background-color: $color-bg-dark;
  padding: 0 .5vw;

  a {
    color: $color-text-light;
    text-decoration: none;
    padding: 2vh 0;
    border-bottom: 1px solid $color-separator;
  
    &:hover {
      color: $color-cta;
      background-color: $color-bg-dark;
    }
  }
}

.moduleContainer {
  height: 100%;
  background-color: $color-bg;
  -webkit-box-flex: .9;
          flex: .9;
}

.toolbar {
  background-color: $color-bg-dark;
  color: $color-text-light;
  height: 20vh;

  h2 {
    padding-left: 2vw;
    color: $color-cta;
    line-height: 4vh;
  }

  &__box {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
    border-top: 1px solid $color-separator;
    height: 8vh;
  }

  &__button {
    padding: .5vh 0.5vw;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: $color-cta;
    }
  }

  .callToAction {
    font-size: 1.5em;
    font-weight: bold;
    color: $color-cta;

    &:hover {
      color: $color-active;
    }
  }

  .checkboxContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-align: center;
            align-items: center;
  }
}


// Home Page

.homePage {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10vh;

  :nth-child(n) {
    margin: 5vh 0;
  }

  h1 {
    color: $color-active;
  }

  a {
    color: $color-cta;
    text-decoration: none;
    font-size: 1.5em;

    &:hover {
      color: $color-active;
    }
  }
}

// Sorting Algorithms

.sortContainer {
  height: 80vh;
  width: 100%;

  &__chart {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
            justify-content: center;
    height: 60%;
    border-bottom: 1px solid $color-separator;
  }

  &__label {
    font-size: 0.7em;
  }
}
