// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap&subset=latin-ext');


// Theme

$color-text: midnightblue;
$color-text-light: ghostwhite;
$color-bg: ghostwhite;
$color-bg-dark: midnightblue;
$color-separator: lightskyblue;
$color-special: royalblue;
$color-cta: orangered;
$color-disabled: gray;

$shadow: 0px 1px 3px -1px $color-separator;


// Global

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  position: relative;
  height: 100vh;
  font-size: calc(0.6em + 0.2vw);
  font-family: 'Roboto Mono', monospace;
}

.appContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  height: 100vh;
}

.navigationContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-flex: .1;
          flex: .1;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  background-color: $color-bg-dark;
  padding: 0 .5vw;

  a {
    color: $color-text-light;
    text-decoration: none;
    padding: 2vh 0;
    border-bottom: 1px solid $color-separator;
  
    &:hover {
      color: $color-cta;
    }

    &.active {
      color: $color-cta;
    }
  }
}

.moduleContainer {
  height: 100%;
  background-color: $color-bg;
  -webkit-box-flex: .9;
          flex: .9;
}

.workspace {
  height: 100%;
  width: 100%;
}

.toolbar {
  // position: relative;
  background-color: $color-bg-dark;
  color: $color-text-light;;
  width: 100%;

  &__mainBox {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
    height: 100%;
    padding: 2vh 0;
  }

  &__selectBox {
    position: relative;

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 3vh 0 1vh;
      background-color: $color-bg-dark;

      & > .button {
        padding: 1vh 0;
    
      }
    }
  }

  .button {
    padding: 0 .5vw;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: $color-cta;
    }

    &--active {
      color: $color-cta;
    }

    &--disabled {
      color: $color-disabled;

      &:hover {
        color: $color-disabled;
      }
    }
  }

  .callToAction {
    font-size: 1.5em;
    font-weight: bold;
    color: $color-cta;

    &:hover {
      color: $color-special;
    }
  }

  .label {
    padding-top: .5vh;
    font-size: 0.7em;
  }

  .checkboxContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-align: center;
            align-items: center;
  }
}


// Home Page

.homePage {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10vh;

  :nth-child(n) {
    margin: 5vh 0;
  }

  h1 {
    color: $color-special;
  }

  a {
    color: $color-cta;
    text-decoration: none;
    font-size: 1.5em;

    &:hover {
      color: $color-special;
    }
  }
}


// Sorting Algorithms

.sortContainer {

  &__chart {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
            justify-content: center;
    height: 60%;
    border-bottom: 1px solid $color-separator;
  }

  &__label {
    font-size: 0.7em;
  }
}


// Pathfinding algorithms

.gridContainer {
  border-top: 1px solid royalblue;
  border-left: 1px solid royalblue;

  @keyframes nodeVisited {
    from { background-color: midnightblue }
    to { background-color: lightskyblue }
  };

  @keyframes nodeOnShortestPath {
    from { background-color: lightskyblue }
    to { background-color: orangered }
  };

  .node {
    border-bottom: 1px solid royalblue;
    border-right: 1px solid royalblue;
    text-align: center;
    font-weight: bold;
    user-select: none;

    &--wall {
      background-color: black;
    }
  
    &--active {
      background-color: midnightblue;
    }
  
    &--visited {
      background-color: lightskyblue;
      animation: nodeVisited .5s ease-out;
    }

    &--start,
    &--finish,
    &--drag {
      background-color: royalblue;
    }
  
    &--shortestPath {
      background-color: orangered;
      animation: nodeOnShortestPath .3s ease-out;
    }
  }
}
